doctype
html
	head
		meta(charset="UTF-8",keyword="wwhh")
		title Jade演示
	body
		h1 Hello Jade!
		.btn.default#id1 这是文本
		p.b 文本标签
		ul.list-group
			li.list-group-item: a(href="#", target="_blank") link
		//- p
			|这是一段文字，的萨克这可能性是阿迪看看在现在肯定还是卡你
			|来得及萨克
		// p 文字文字
		p.
			输文字			
			21nksnadk
